<div class="row paddedleft paddedtop">
    <div class="col-sm-6 col-md-6">
        <div class="list-group">
            <a class="list-group-item" href="#/paymentChannels" has-permission='READ_LOANPRODUCT'>
                <h4 class="list-group-item-heading"><i class="icon-exchange icon-large"></i>&nbsp;&nbsp;{{
                    'label.anchor.paymentChannels' | translate }}</h4>

                <p class="list-group-item-text">{{'label.paymentchannelsdescription' | translate}}</p>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-6">
        <div class="list-group">
            <a class="list-group-item" href="#/paymentDetails" has-permission='READ_PRODUCTMIX'>
                <h4 class="list-group-item-heading"><i class="icon-money icon-large"></i>&nbsp;&nbsp;{{
                    'label.anchor.paymentdetails' | translate }}</h4>

                <p class="list-group-item-text">{{'label.paymentdetailsdescription' | translate}}</p>
            </a>
        </div>
    </div>
</div>